<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="azure.ui" value="https://pkgs.dev.azure.com/ts-internship-2019/_packaging/kendo/nuget/v3/index.json" />
  </packageSources>
</configuration>