@model iWasHere.Domain.DTOs.CountyModel
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "AddCounty";
}


@using (Html.BeginForm("SaveCounty", "Dictionary", FormMethod.Post))
{

    <div>
        <table>
            <tr>
                <td>
                    <label for="countyName">Nume Judet:</label>
                    @(Html.Kendo().TextBoxFor(a => a.Name)

                    )
                </td>
                <td>
                    <label for="countyCode">Cod Judet:</label>
                    @(Html.Kendo().TextBoxFor(a => a.Code)

                    )
                </td>
                <td>
                    <label for="countriesCB">Nume Tara:</label>
                </td>
                <td>
                    @(Html.Kendo().ComboBoxFor(a => a.CountryId)
                            .Placeholder("Selecteaza tara")
                            .DataTextField("Name")
                            .SelectedIndex(-1)
                            .DataValueField("CountryId")
                            .HtmlAttributes(new { style = "width:100%;" })
                            .Filter(FilterType.Contains)
                            .AutoBind(false)
                            .MinLength(3)
                            .DataSource(source =>
                                {
                                    source.Read(read =>
                                {
                                    read.Action("Countries_Read_ForCB", "Dictionary");
                                })
                                    .ServerFiltering(true);
                                })
                            .Text(Model.CountryName)
                    )
                </td>
            </tr>
        </table>
    </div>


    <input type="submit" name="btn" value="Salveaza" />
    @Html.HiddenFor(a => a.CountyId)
    if (Model.CountyId == 0)
    {
        <input type="submit" name="btn" value="Salveaza si Nou" />
    }
    <input type="submit" name="btn" value="Anuleaza" />
}









