@model iWasHere.Domain.Models.DictionaryCurrencyType

<style>

    .myBtn {
        margin-right: 20px;
    }
</style>


@using (Html.BeginForm("CurrencySubmit", "Dictionary", FormMethod.Post))
{
    <span>Enter Your Name: </span> @Html.TextBoxFor(m => m.Name)
    <br />
    <span>Enter Your Code: </span> @Html.TextBoxFor(m => m.Code)
    <br />
    <span>Enter Your Description: </span>@Html.TextBoxFor(m => m.Description)
    <br />
    @Html.HiddenFor(a => a.CurrencyTypeId)

    <input type="submit" name="submitButton" value="Save" />
    if (Model == null)
    {
        <input type="submit" name="submitButton" value="Save and New" />
    }
    <input type="submit" name="submitButton" value="Cancel" />
}